[Unit]
Description={{description}}
After=network-online.target
Wants=network-online.target
StopWhenUnneeded=true

[Service]
Type=notify
ExecStart=/usr/bin/node --unhandled-rejections=strict --trace-uncaught --trace-warnings --title {{name}} {{installdir}}/src/{{name}}-cli.mjs start
ExecStop=/usr/bin/curl -s -XPOST --unix-socket {{socket}} http://localhost/admin/stop
ExecReload=/usr/bin/curl -s -XPOST --unix-socket {{socket}} http://localhost/admin/reload
TimeoutStartSec=20
Restart=on-failure
RestartSec=30s
SystemCallErrorNumber=EPERM
DynamicUser=yes
UMask=0077
NoNewPrivileges=true
RuntimeDirectory={{name}}
RuntimeDirectoryMode=775
RuntimeDirectoryPreserve=yes
StateDirectory={{name}}
ConfigurationDirectory={{name}}
CPUWeight=30
IOWeight=30
MemoryAccounting=true
MemoryHigh=60M
MemoryMax=100M
OOMPolicy=stop
FileDescriptorStoreMax=4
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=noaccess
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
RestrictRealtime=true
RestrictSUIDSGID=true
PrivateDevices=true

CapabilityBoundingSet=~CAP_SYS_BOOT CAP_SYS_ADMIN CAP_NET_ADMIN CAP_SYS_NICE CAP_SYS_RESOURCE CAP_KILLC AP_IPC_LOCK CAP_CHOWN CAP_FSETID CAP_SETFCAP CAP_SETUID CAP_SETGID CAP_SETPCAP CAP_WAKE_ALARM CAP_NET_BIND_SERVICE CAP_NET_BROADCAST CAP_NET_RAW CAP_KILL

[Install]
WantedBy=multi-user.target
