[Unit]
Description={{description}}
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/node --title {{name}} {{installdir}}/bin/{{name}} start
ExecStop=/usr/bin/curl -s -XPOST --unix-socket {{socket}} http://localhost/admin/stop
ExecReload=/usr/bin/curl -s -XPOST --unix-socket {{socket}} http://localhost/admin/reload
TimeoutStartSec=20
StandardError=journal
StandardOutput=journal
SystemCallErrorNumber=EPERM
User={{name}}
Group={{name}}
PrivateTmp=true
NoNewPrivileges=true
RuntimeDirectory={{name}}
StateDirectory={{name}}
ConfigurationDirectory={{name}}
CPUWeight=30
IOWeight=30
MemoryAccounting=true
MemoryHigh=80M
MemoryMax=120M
OOMPolicy=stop

[Install]
WantedBy=multi-user.target
