name: CI
'on': push
jobs:
  test-node:
    runs-on: ubuntu-latest
    services:
      slapd:
        image: nickstenning/slapd
        env:
          LDAP_DOMAIN: example.com
          LDAP_ORGANISATION: Example Corp
          LDAP_ROOTPASS: test
        ports:
          - '389:389'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm ci
      - run: >-
          node tests/helpers/ldapadd.mjs -h localhost:389 -D
          cn=admin,dc=example,dc=com -w test -f tests/fixtures/ldap/base.ldif
      - run: npm run cover --if-present
      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        continue-on-error: true
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-${{ matrix.test_number }}
          path-to-lcov: build/coverage/lcov.info
          parallel: true
  release:
    needs:
      - test-node
    runs-on: ubuntu-latest
    steps:
      - name: Dependencies
        run: >
          sudo apt-get update

          sudo apt-get install ksh curl

          wget
          https://github.com/ThePoorPilot/pacman-utils/releases/download/5.2.2-3_2.31-0/pacman-utils_5.2.2-3_amd64.deb

          sudo apt-get install -f ./pacman-utils_5.2.2-3_amd64.deb
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.6.0
        with:
          node-version: 18.14.2
          cache: npm
      - run: npm ci
      - run: npx semantic-release
        env:
          CI: 'true'
          PKGBUILD_PUBLISH: ${{ secrets.PKGBUILD_PUBLISH }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  finish:
    needs:
      - test-node
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: build/coverage/lcov.info
          parallel-finished: true
