name: CI
on:
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
      - next
permissions:
  contents: read
  id-token: write
jobs:
  test-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - ubuntu-latest
        node-version:
          - 24.12.0
    env:
      POSTGRES_URL_DISABLED: postgresql://postgres:postgres@localhost:5432/ci_db_test
      POSTGRES_USER: postgres
      PGPASSWORD: postgres
      POSTGRES_DB: ci_db_test
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
    services:
      slapd:
        image: nickstenning/slapd
        env:
          LDAP_DOMAIN: example.com
          LDAP_ORGANISATION: Example Corp
          LDAP_ROOTPASS: test
        ports:
          - 389:389
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: ci_db_test
          POSTGRES_HOST_AUTH_METHOD: md5
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s
          --health-retries 5
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
      - name: checkout
        run: npm ci
      - name: prepare
        run: node tests/helpers/ldapadd.mjs -h localhost:389 -D
          cn=admin,dc=example,dc=com -w test -f tests/fixtures/ldap/base.ldif
      - name: prepare node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: install
        run: npm ci
      - name: test and coverage
        run: npm run cover --if-present
      - name: coveralls
        uses: coverallsapp/github-action@v2
        continue-on-error: true
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-${{ matrix.test_number }}
          path-to-lcov: build/coverage/lcov.info
          parallel: true
  release:
    needs:
      - test-node
    runs-on:
      - self-hosted
      - linux
      - ARM64
      - ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
      - name: checkout
        run: npm ci
      - name: prepare node
        uses: actions/setup-node@v6.1.0
        with:
          node-version:
            - 24.11.1
            - 24.12.0
      - name: install
        run: npm ci
      - name: install dependencies
        run: |
          if [ ! -f /usr/bin/pacman ]
          then
          sudo apt-get update
          sudo apt-get install ksh curl
          wget https://github.com/ThePoorPilot/pacman-utils/releases/download/5.2.2-3_2.31-0/pacman-utils_5.2.2-3_amd64.deb
          sudo apt-get install -f ./pacman-utils_5.2.2-3_amd64.deb
          fi
      - name: release
        run: npx semantic-release
        env:
          CI: "true"
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PKGBUILD_PUBLISH: ${{ secrets.PKGBUILD_PUBLISH }}
          PKGEXT: .pkg.tar.xz
  finish:
    needs:
      - test-node
    runs-on: ubuntu-latest
    steps:
      - name: finish coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: build/coverage/lcov.info
          parallel-finished: true
